<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
</head>
<body>
<h2>Weather App</h2>
<table style="width:100%;">
  <tr>
    <td>Time</td>
    <td>Temperature</td>
    <td>Humidity</td>
    <td>Air Pressure</td>
    <td>Wind Speed</td>
  </tr>
  {% for tmp in weather.properties.timeseries %}
  <tr>
    <td>{{ tmp.time }}</td>
    <td>{{ tmp.data.instant.details.air_temperature }}</td>
    <td>{{ tmp.data.instant.details.relative_humidity }}</td>
    <td>{{ tmp.data.instant.details.air_pressure_at_sea_level }}</td>
    <td>{{ tmp.data.instant.details.wind_speed }}</td>
  </tr>
  {% endfor %}
</table>
</body>
</html>